<h2>$!{events.eventName}</h2>

<div class="container">
  <img src="$!{events.eventImage}" alt="$!{events.description}" class="img img-fluid w-100" />
  <p class="fw-bold">$!{events.eventDate} &nbsp;-&nbsp; $!{events.eventTime}</p>
  <hr>
  <p class="text-left">$!{events.eventBody}</p>
</div>