#if($UtilMethods.isSet($URLMapContent))
  <div class="beer-detail">
    <h1 class="text-center">$URLMapContent.beerName</h1>
    <p class="text-center fw-bold">$!{URLMapContent.style.selectValue} • $!{URLMapContent.abv}% ABV • $!{URLMapContent.ibu} IBU</p>
    <hr>
    <p class="text-center my-3">$!{URLMapContent.body}</p>
    <p class="text-center"><a href="/beer-list/" class="btn btn-primary w-50">Back to the Beer List</a></p>
  </div>
#else
  <p>That beer doesn't exist.</p>
#end