<div class="container">
  <div class="row">
    <div class="col">
      <img src="/dA/${dotContentMap.identifier}/image/$!{dotContentMap.image.name}" class="img-fluid" />
    </div>
    <div class="col">
      <h2 class=text-center fw-bold>$!{dotContentMap.title}</h2>
      <p>$!{dotContentMap.textBody}</p>
    </div>
  </div>
</div>