<div
    #if ($EDIT_MODE) 
        data-language="${CONTENT_LANGUAGE}"
        data-mode="full"
        data-inode="${ContentInode}"
        data-field-name="body"      
    #end
>
    $!{dotContentMap.body}
</div>